<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="<%= theme_path %>/css/bootstrap.min.css">
<link rel="stylesheet" href="<%= theme_path %>/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="<%= theme_path %>/css/jquery.sidr.dark.css">
<link rel="stylesheet" href="<%= theme_path %>/css/swiper.min.css">
<link rel="stylesheet" href="<%= theme_path %>/css/daterangepicker-bs3.css">
<link rel="stylesheet" href="<%= theme_path %>/css/style.css">